@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Band Information</h1>
<hr>
<h4>Name: @Model.GetName()</h4>
<h4>Genre: @Model.GetGenre()</h4>
<h4>Song(s): @Model.GetSong()</h4>

<hr>
<h4><a href="/">Return Home</a></h4>
