@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add a new band</h1>
<form action="/bands/new" method="post">
  <label for="band-name">Band name:</label>
  <input id="band-name" name="band-name" type="text">

  <label for="band-genre">Band genres:</label>
  <input id="band-genre" name="band-genre" type="text">

  <label for="band-song">Band song:</label>
  <input id="band-song" name="band-song" type="text">

  <button type="submit">Add New</button>
</form>

<h4><a href="/">Return Home</a></h4>
<h4><a href="/bands">View All Bands</a></h4>
