@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add A New Band</h1>
<hr>
<form action="/bands/new" method="post">
  <label for="band-name">Name:</label>
  <input id="band-name" name="band-name" type="text">

  <label for="band-genre">Genre:</label>
  <input id="band-genre" name="band-genre" type="text">

  <label for="band-song">Song(s):</label>
  <input id="band-song" name="band-song" type="text">

  <button type="submit" class="btn">Add New</button>
</form>
<hr>
<h4><a href="/bands">View All Bands</a> | <a href="/">Return Home</a></h4>
