@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add A New Venue</h1>
<hr>
<form action="/venues/new" method="post">
    <div class="form-group">
        <label for="venue-name">Venue Name: </label>
        <input id="venue-name" name="venue-name" type="text">
        <button class="btn" type="submit">Add New</button>
    </div>
</form>
<hr>
<h4><a href="/venues">View All Venues</a> | <a href="/">Return Home</a></h4>
